<!DOCTYPE html>
<html>
<head>
  <title>Welcome!</title>
</head>
<body style="font-family: sans-serif; text-align: center; padding-top: 50px;">
  <h1>Server Configured by Ansible!</h1>
  <p>This server was automatically set up by an Ansible playbook.</p>
  <p>The admin of this server is {{ server_admin_email }}.</p>
</body>
</html>
